/* 일반 구조 선택자*/

/* :first-child
형제 관계의 요소중 첫번째 요소

#test1의 자식 요소 중
형제관계의 요소중 첫번째 요소가 p태그인가?
=> 맞음. 첫번째 요소는 p 태그여서 스타일 적용이 됨.
*/
#test1 >p:first-child {
    color: white;
    background-color: red;
}

/* :last-child
형제 관계의 요소중 마지막 요소
#test1 의 자식요소중 마지막 요소가 p태그인가?
=> 아님. 마지막 요소는 p태그가 아니라 pre태그이기 때문에 스타일 적용이 안됨.
*/

#test1 > p:last-child {
    background-color: orange;
}

/* :nth-child(n,수열)
형제 관계의 요소중 n번째 요소
-순서 따질때 1부터 시작
*/
#test1 > p:nth-child(2) {
    background-color: yellow;
    /* 형제관계 중 2번째 요소를 선택하고,
    p태그인지 검사*/
}

#test1 > p:nth-child(4) {
    background-color: green;
    /* 형제관계 중 4번째 요소를 선택하고,
    p태그인지 검사*/
}

/* 홀수번째 형제 요소 선택*/
#test1 > p:nth-child(2n-1) {
    font-weight: bold;
    font-size: 30px;
}

/* 짝수번째 형제 요소 선택*/
#test1 > p:nth-child(2n) {
    border : 3px solid black;
}

/* :nth-last-child(n,수열)
형제 관계의 요소중 뒤에서 수열번째 요소를 모두 선택
*/
#test1 > p:nth-last-child(2) {
    color: pink;
}

/* :fist-of-type
같이 선택된 형제들 중에서 첫번째 요소*/

#test2 > p:first-of-type {
    background-color: orange;
}

/* :last-of-type
같이 선택된 형제들 중에서 마지막 요소
*/

#test2 > p:last-of-type {
    background-color: skyblue;
}

/* :nth-of-type(n,수열)
같이 선택된 형제들 중에서 n(수열)번째 요소
*/

#test2 > p:nth-of-type(2n-1) {
    font-size: 30px;
}

/* :nth-last-of-type(n,수열)
같이 선택된 형제들 중에서 뒤에서 수열번째 요소를 모두 선택
*/

#test2 > p:nth-last-of-type(2n) {
    background-color: red;
}

/* 부정선택자*/
/* #test3 자식요소 li 요소중
3의 배수를 제외한 요소만 선택하여
배경색 aqua로 지정
*/
#test3 > li:not(:nth-child(3n)) {
    background-color: aqua;
}